<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_LockCart
 * @license  Proprietary
 *
 * @author   Sanket Zadafiya <szadafiya@kemana.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_add">
        <observer name="cartlockedcheck" instance="Kemana\Lockcart\Observer\RestrictAddToCart" />
    </event>
</config>